<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacacionAR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/reservation_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header class="container-fluid bg-info shadow-sm mb-4">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="/">
                    <span class="h1">VacacionAR</span>
                </a>
                <div class="respmenu ms-auto">
                    <input type="checkbox" id="menu-toggle">
                    <label for="menu-toggle" class="fas fa-bars"></label>
                    <label for="menu-toggle" class="fas fa-times"></label>
                    <nav>
                        <ul>
                            <li><a href="/">Volver al login</a></li>
                            <li><a href="{{ url_for('main.dashboard_front.dashboard', user_id=user_id )}}">Datos Personales </a></li>
                            <li><a href="{{ url_for('main.destinos_front.destinos', user_id=user_id) }}">Ver destinos para viajar! </a></li>
                            <li><a href="{{ url_for('main.reviews_front.reviews') }}"> Reseñas de usuarios </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <div class="row mt-5">
            <div class="col-12 col-md-10 col-lg-6 mx-auto">
                <div class="card card-custom">
                    <div class="card-body">
                        <h1 class="card-title">Reserva</h1>
                        <form onsubmit="create_reserva(event)" id="reserva">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre Completo</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Ingrese su nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="paquetes_disponibles" class="form-label">Paquete</label>
                                <select class="form-select" name="package" id="paquetes_disponibles" required>
                                    <option value="" selected disabled>Selecciona un paquete</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Continuar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>
</html>
